.hiton .hiton-counting-mode-heading {
    font-size: 24px;
    font-weight: bold;
}

.hiton .hiton-align__left {
    text-align: left;
}

.hiton .hiton-align__center {
    text-align: center;
}


.hiton .hiton-align__right {
    text-align: right;
}


